@media (min-width:2560px) {
    .sub_menu ul {
        width: 45%;
        height: 2.8rem;
    }

    .marginwrapper {
        margin: 0 32vw;
    }

    .gradientwrapper .video_player {
        height: 225px;
    }

    .gradientwrapper .video_player.large {
        height: 500px;
    }
}
